USE [master]
GO
/****** Object:  Database [WebStore]    Script Date: 23-Aug-18 7:51:30 PM ******/
CREATE DATABASE [WebStore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WebStore', FILENAME = N'G:\New folder\WebStore.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'WebStore_log', FILENAME = N'G:\New folder\WebStore_log.ldf' , SIZE = 1536KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebStore]
GO
USE [WebStore]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 23-Aug-18 7:51:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[Ma_Ad] [int] IDENTITY(1,1) NOT NULL,
	[Name_Ad] [nvarchar](50) NOT NULL,
	[Mail] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Admins] PRIMARY KEY CLUSTERED 
(
	[Ma_Ad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brands]    Script Date: 23-Aug-18 7:51:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brands](
	[Ma_Brand] [int] IDENTITY(1,1) NOT NULL,
	[Ten_Brand] [nvarchar](100) NOT NULL,
	[Ten_Alias] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Brands] PRIMARY KEY CLUSTERED 
(
	[Ma_Brand] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetailOrders]    Script Date: 23-Aug-18 7:51:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetailOrders](
	[Ma_DeOr] [int] IDENTITY(1,1) NOT NULL,
	[Ma_Order] [int] NOT NULL,
	[Ma_Product] [int] NOT NULL,
	[Amount] [int] NOT NULL,
	[Price] [float] NOT NULL,
 CONSTRAINT [PK_DetailOrders] PRIMARY KEY CLUSTERED 
(
	[Ma_DeOr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 23-Aug-18 7:51:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[Ma_FB] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](50) NOT NULL,
	[SDT] [varchar](20) NOT NULL,
	[Mail] [varchar](50) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Created] [date] NOT NULL,
 CONSTRAINT [PK_Feedback] PRIMARY KEY CLUSTERED 
(
	[Ma_FB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Members]    Script Date: 23-Aug-18 7:51:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members](
	[Ma_Mem] [int] IDENTITY(1,1) NOT NULL,
	[Ten_Mem] [nvarchar](50) NOT NULL,
	[Mail] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[Phone] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Members] PRIMARY KEY CLUSTERED 
(
	[Ma_Mem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 23-Aug-18 7:51:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Ma_Order] [int] IDENTITY(1,1) NOT NULL,
	[Ma_Mem] [int] NULL,
	[Total] [float] NOT NULL,
	[Shipping] [int] NOT NULL,
	[Created] [datetime] NOT NULL,
	[Note] [nvarchar](100) NULL,
	[Ten_NguoiNhan] [nvarchar](50) NULL,
	[DiaChi_NguoiNhan] [nvarchar](50) NULL,
	[SDT__NguoiNhan] [varchar](20) NULL,
	[Mail_NguoiNhan] [nvarchar](20) NULL,
	[TP_NguoiNhan] [nvarchar](20) NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Ma_Order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 23-Aug-18 7:51:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Ma_Product] [int] IDENTITY(1,1) NOT NULL,
	[Ma_Brand] [int] NOT NULL,
	[Ma_Type] [int] NOT NULL,
	[Ten_Product] [nvarchar](100) NOT NULL,
	[Ten_Alias] [nvarchar](100) NOT NULL,
	[Gia_Product] [int] NOT NULL,
	[Info_Product] [nvarchar](max) NOT NULL,
	[Available] [int] NOT NULL,
	[Image_Product] [nvarchar](1000) NOT NULL,
	[Detail_Product] [nvarchar](max) NOT NULL,
	[Describe_Product] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Ma_Product] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 23-Aug-18 7:51:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[Ma_Tran] [int] IDENTITY(1,1) NOT NULL,
	[Ma_Order] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[Total] [float] NOT NULL,
	[Note] [nvarchar](100) NULL,
	[Payment] [nvarchar](100) NULL,
	[Payment_Info] [nvarchar](100) NULL,
	[Created] [datetime] NOT NULL,
 CONSTRAINT [PK_Transactions] PRIMARY KEY CLUSTERED 
(
	[Ma_Tran] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Types]    Script Date: 23-Aug-18 7:51:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Types](
	[Ma_Type] [int] IDENTITY(1,1) NOT NULL,
	[Ten_Type] [nvarchar](50) NOT NULL,
	[Ten_Alias] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Types] PRIMARY KEY CLUSTERED 
(
	[Ma_Type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DetailOrders]  WITH CHECK ADD  CONSTRAINT [FK_DetailOrders_Orders] FOREIGN KEY([Ma_Order])
REFERENCES [dbo].[Orders] ([Ma_Order])
GO
ALTER TABLE [dbo].[DetailOrders] CHECK CONSTRAINT [FK_DetailOrders_Orders]
GO
ALTER TABLE [dbo].[DetailOrders]  WITH CHECK ADD  CONSTRAINT [FK_DetailOrders_Products] FOREIGN KEY([Ma_Product])
REFERENCES [dbo].[Products] ([Ma_Product])
GO
ALTER TABLE [dbo].[DetailOrders] CHECK CONSTRAINT [FK_DetailOrders_Products]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Members] FOREIGN KEY([Ma_Mem])
REFERENCES [dbo].[Members] ([Ma_Mem])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Members]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Brands] FOREIGN KEY([Ma_Brand])
REFERENCES [dbo].[Brands] ([Ma_Brand])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Brands]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Types] FOREIGN KEY([Ma_Type])
REFERENCES [dbo].[Types] ([Ma_Type])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Types]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Orders] FOREIGN KEY([Ma_Order])
REFERENCES [dbo].[Orders] ([Ma_Order])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Orders]
GO
USE [master]
GO
